html {
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

p {
    line-height: 2;
}

.purple {
    color:hsl(277, 64%, 61%);
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1440px;
    background-color: hsl(233, 47%, 7%);
    padding: 10%;
}
.card {
    display: flex;
    width: 1080px;
    height: 446px;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}
.card-txt {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-img {
    background-color:hsl(277, 87%, 35%);
    border-radius: 0 5px 5px 0;
}
.card-img img {
    opacity: 0.4;
    border-radius: inherit;
}
.title-txt {
    margin-top: 52px;
    margin-bottom: 75px;
}
.stat h3 {
    font-size: 28px;
}
.stat p, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.stat-txt {
    display: flex;
    justify-content: space-between;
}
.txt-upper {
    text-transform: uppercase;
}
.font-color-3 {
    color: hsla(0, 0%, 100%, 0.6);
}
.font-color-2 {
    color: hsla(0, 0%, 100%, 0.75);
}